:root {
    --gradiante: linear-gradient(180deg, #E8F5C8 0%, #FFFFFF 96.87%);
    --gradiante-secundario: linear-gradient(180deg, #e9f0ee 0%, #e3eeeb 96.87%);
    --preto: black;
    --roxo-escuro: #0C0421;
    --roxo-vibrante: #4E75FF;
    --roxo-calmante: #85A0FF;
    --lilas: #CAD4FA;
    --verde-calmante: #E8F5C8;

    --ft-textos: "Montserrat", sans-serif;
    --ft-titulos:"Krona One", sans-serif;
}