.cabecalho{
    display: flex;
    gap: 3rem;
    padding: 0 3em;
}
.cabecalho__lista{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--branco);
    font-family: var(--ft-texto);
    font-weight: 600;
    width: 80%;
}
.cabecalho__lista-img{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.cabecalho__img{
    width: 6rem;
    height: 3.5rem;
}
.item-img{
    width: 1.8em;
    height: 1.8em;
}
