@import url(./banner.css);

:root{
    --branco: rgb(255, 255, 255);
    --branco-hover: rgb(209, 208, 208);
    --cinza: rgb(196, 196, 196);
    --cinza-hover: rgba(196, 196, 196, 0.633);
    --cinza-transparente: rgba(196, 196, 196, 0.453);
    --ft-titulo: 'Space Grotesk', 'sans-serif';
    --ft-texto: 'Roboto', 'sans-serif';
}

.app__background{
    background-image: url(../img/spiderhead2.jpeg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 55vw;
    
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
}