.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__img{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, 
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

a {
    text-decoration: none; /* Remove o sublinhado */
}
  
.lista-menu__link{
    color: var(--azul-escuro);
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.opcoes,
.container__titulo,
.container__texto{
    display: none;
}

.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer{
    background-image: url("../img/MenuAberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-escuro);
}



@media screen and (min-width: 1024px){
    .container__titulo{
        font-family: var(--fonte-principal);
        font-size: 30px;
        font-weight: 300;
        display: block;
    }
    .container-titulo__negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
        color: var(--preto);
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabeçalho__menu-hamburguer,
    .container__img-transparente{
        display: none;
    }

    .opcoes__botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .container__texto{
        display: block;
    }

    .opcoes__botao:checked~.opções__rotulo>.opções__item {
        background: var(--azul-degade);
    }
    .opcoes__botao:checked~.opções__rotulo>.opções__item {
        background: var(--azul-degade);
        color: var(--branco)
    }

    .opcoes__item {
        padding:2em 1em;

    }
}

@media screen and (min-width: 1728px){
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto); 
        
    }
    .cabeçalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }
}